<html>
   <body>
      <form action = "http://localhost:5000/search" method = "post">
         <p>Enter the Property Type, you are looking for:</p>
         <select name="search_query" id="search">
            <option value="House">House</option>
            <option value="Apartment">Apartment</option>
            <option value="Condominium">Condominium</option>
            <option value="Guesthouse">Guest House</option>
          </select>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>